@groupname @last-updated:2021-
[Name: ]
[Nickname: ]
[Spouse: ]
[Anniversary: ]
[Birthdate: ]

[Address: ]
[Address 2: ]
[City: ]
[State: ]
[Zip: ]
[Country: ]

[Home Phone: ]
[Work Phone: ]
[Mobile Phone: ]
[LinkedIn: ]
[Website: ]

[Email: ]
[Work Email: ]

@Employer
[Name: ]
[Position: ]
[Website: ]
[Phone: ]

